#app{
  background-color: #f8f2f1;
}
.head-nav{
  background-color: #fad4d0;
  background: linear-gradient(left,#fad4d0,#fb958d);
}
.box-bg{
  background: url('../../image/flower-3363049_640.jpg') no-repeat center;
}