#app{
  background-color: #f9f2f5;
}
.head-nav{
  background-color: #ffd6e9;
  background: linear-gradient(left,#ffe0ef,#ffc8e1);
}
.box-bg{
  background: url('../../image/white-1714170_640.jpg') no-repeat center;
}